* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}
header{
	display: flex;
	align-items: center;
	gap: 50px;
}
.headerleft{
	display: flex;
	align-items: center;
}
.logo{
	padding: 22px 30px;
	border-right: 1px solid #ccc;
}
.address{
	padding: 20px 30px;
}
.address h3{
	font-size: 18px;
	margin-bottom: 5px;
}
.address p{
	font-size: 14px;
}
.search{
	flex-grow: 1;
	background-color: #f8f8f8;
	display: flex;
	border-radius: 15px;
	border: 1px solid #f4f4f4;
}
.search input{
	flex-grow: 1;
	border: none;
	background-color: transparent;
}
.search button{
	padding: 15px;
	border: none;
	background-color: transparent;
}
.search input:focus{
	outline: none;
}
.headerright{
	display: flex;
	padding: 15px;
	gap: 55px;
}
.headerright button{
	padding: 20px;
	font-size: 17px;
	margin-right: 10px;
	background-color: transparent;
	border: none;
	font-weight: bolder;
}
.headerright button:last-child{
	border-radius: 10px;
	color: white;
	display: flex;
	gap: 10px;
	background-color: green;
}
.banner{
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1280px;
}
.banner2{
	display: flex;
	max-width: 1280px;
	margin: auto;
}
.ban2_item{
	flex-basis: 28%;
	margin: 1%;
}
.ban2_item img{
	width: 100%;
}
.category{
	max-width: 1280px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}
.category_item{
	flex-basis: 10%;

}
.category_item img{
	width: 100%;
}
.text{
	max-width: 1280px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.heading_row{
	display: flex;
	justify-content: space-between;
}
.productsection{
	max-width: 1280px;
	margin: auto;
}
.product_row{
	display: flex;
	width: 100%;
	margin: 30px 0px;
	gap: 2%;
	flex-wrap: wrap;
}
.product_item{
	flex-basis: 15%;
	border-radius: 15px;
	border: 1px solid #ccc;
	margin: 10px 0px 10px 0px;
	box-shadow: 0px 0px 10px 0px #ccc;
}
.product_image{
	text-align: center;
	padding: 10px;
}
.product_image p{
	background-color: #f8f8f8;
	font-size: 12px;
	text-align: left;
	display: flex;
	width: 70px;
	padding: 2px;
}
.product_text h3{
	font-size: 15px;margin-top: 10px;
	margin-bottom: 10px;
}
.product_btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.product_btn button{
	padding: 5px 15px;
	border-radius: 5px;
	border: 1px solid #328839;
	background-color: #f7fff9;
}
.product{
	margin-bottom: 40px;
}
.footer{
	padding-top: 80px;
}
.foot{
	max-width: 1280px;
	margin: auto;
}
.foot_row1{
	display: flex;
	width: 100%;
}
.foot_row1_left{
	flex-basis: 30%;
}
.foot_row1_left h3{
	margin-bottom: 33px;
}
.foot_row1_right{
	flex-basis: 70%;
}
.useful{
	display: flex;
}
.useful ul{
	list-style: none;
	flex-basis: 33%;
}
.useful ul li a{
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
/*	font-size: 14px;*/
}
.veg{
	display: flex;
}
.veg ul{
	flex-basis: 30%;
	list-style: none;
}
.foot_row3{
	padding: 20px;
}
.veg ul li a{
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}
.foot_row2{
	display: flex;
	width: 100%;
	background-color: #fcfcfc;
}
.foot_row2 p{
	flex-basis: 40%;
	align-items: center;
}
.cate span{
	padding: 10px;
	margin: 5px;
}
.app{
	display: flex;
	align-items: center;
	flex-basis: 30%;
	gap: 10px;
}
.social{
	display: flex;
	gap: 10px;
}
.social i{
	width: 40px;
	color: white;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}
@media only screen and (min-width: 700px) and (max-width: 1700px){
	.adv{
		display: none;
	}
}